<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="user">Usuário</label>
    <div class="controls">
      <input type="text" id="user" name="user" placeholder="Usuário">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="password">Senha</label>
    <div class="controls">
      <input type="password" id="password" name="pass" placeholder="Senha">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Logar</button>
    </div>
  </div>
</form>